[submodule "marketplace"]
	path = marketplace
	url = https://github.com/nubomedia/marketplace.git
[submodule "nubomedia-paas"]
	path = nubomedia-paas
	url = https://github.com/nubomedia/nubomedia-paas.git
[submodule "nubomedia-msvnfm"]
	path = nubomedia-msvnfm
	url = https://github.com/nubomedia/nubomedia-msvnfm.git
[submodule "NFVO"]
	path = NFVO
	url = https://github.com/openbaton/NFVO.git
[submodule "generic-vnfm"]
	path = generic-vnfm
	url = https://github.com/openbaton/generic-vnfm.git
[submodule "connectivity-manager"]
	path = connectivity-manager
	url = https://github.com/nubomedia/connectivity-manager.git
