[submodule "marketplace"]
	path = marketplace
	url = https://github.com/nubomedia/marketplace.git
[submodule "nubomedia-paas"]
	path = nubomedia-paas
	url = https://github.com/nubomedia/nubomedia-paas.git
[submodule "nubomedia-msvnfm"]
	path = nubomedia-msvnfm
	url = https://github.com/nubomedia/nubomedia-msvnfm.git
